<div class="section projects-container" id="projects">
  <h2>Projects</h2>
  <div class="projects-list">
    <div class="project-item">
      <h3>Dry Fruits Management</h3>
      <p class="tech-stack">C++ & SQL | February 2024</p>
      <p class="description">
          Developed a management system for dry fruits inventory and transactions using C++ and SQL.</p>
      <a href="https://github.com/sairam017/dryfruits" target="_blank" class="github-btn">
          🔗 View on GitHub
      </a>
  </div>

    <div class="project-item">
      <h3>8-Puzzle Problem Solver</h3>
      <p class="tech-stack">Python | May 2024</p>
      <p class="description">Implemented an AI-based approach to solve the classic 8-puzzle problem using Python algorithms.</p>
      <a href="https://github.com/yourusername/dry-fruits-management" target="_blank" class="github-btn">
        🔗 View on GitHub
    </a>
    </div>

    <div class="project-item">
      <h3>Dynamic Chess Game</h3>
      <p class="tech-stack">Java | August 2024</p>
      <p class="description">Created an interactive chess game with socket programming for multiplayer functionality.</p>
    </div>

    <div class="project-item">
      <h3>Employee Management System</h3>
      <p class="tech-stack">PHP Typescript | December 2024</p>
      <p class="description">Created with mono Login form for both Employee and Admin Department</p>
    </div>
  </div>
</div>
