<div class="portfolio-container">
  <!-- Left Sidebar -->
  <div class="sidebar">
    <div class="profile">
      <img src="https://cdn-icons-png.freepik.com/256/4803/4803060.png?semt=ais_hybrid" alt="Profile" class="profile-img">
      <h2>Your Name</h2>
      <p>Web Developer</p>
    </div>
    <nav class="navigation">
      <a 
        *ngFor="let section of sections" 
        [href]="'#' + section.id"
        [class.active-section]="currentSection === section.id"
        (click)="scrollToSection($event, section.id)"
      >
        {{ section.name }}
      </a>
    </nav>
  </div>

  <!-- Right Content -->
  <div class="content" #contentSection>
    <app-projects></app-projects>
    <app-certificates></app-certificates>
    <app-experience></app-experience>
    <app-social></app-social>
  </div>
</div>